<!DOCTYPE html>
<html>
<head>
  <title>Registration Successful</title>
</head>
<body>
  <h1>Welcome, <%= fullName %>!</h1>
  <p>Thank you for registering with us. Your account has been successfully created.</p>
  <p>Username: <%= username %></p>
  <p>Email: <%= email %></p>
  <p>We hope you enjoy our service!</p>
</body>
</html>
